@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling for the whole page */
  font-size: 16px; /* locks 1rem = 16px */
  background-color: #ffffff; /* default = light mode */
  transition: background-color 0.3s ease;
}

html.dark {
  background-color: #0f172a; /* dark mode bg */
}

body {
  background-color: inherit; /* follow html background */
}

/* Offset for all anchor links */
section {
  scroll-margin-top: 4rem; /* value based on header height */
}

.container {
  width: 100%;
  @media (width >= 640px) {
    max-width: 40rem;
  }
  @media (width >= 768px) {
    max-width: 48rem;
  }
  @media (width >= 1024px) {
    max-width: 64rem;
  }
  @media (width >= 1280px) {
    max-width: 80em;
  }
}

#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, visibility 0.5s;
  width: 100%;
}

.dark #global-loader {
  background-color: #111827;
  color: white;
}

#loader {
  width: 200px;
  height: 200px;
  margin: auto;
}
